@use '@angular/material' as mat;

@include mat.core();

$primary: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$green-palette,
  ),
  typography: (
    brand-family: 'Inter, sans-serif',
  ),
));

html {
  @include mat.all-component-themes($primary);
}

* { box-sizing: border-box; margin: 0; padding: 0; }

body {
  font-family: 'Inter', sans-serif;
  background: #f5f5f5;
  color: #212121;
}

/* Couleurs Unité 226 */
:root {
  --primary: #006B3C;
  --accent: #EF2B2D;
}

.mat-toolbar { background: var(--primary) !important; color: white !important; }

a.active-link {
  background: rgba(255,255,255,0.2) !important;
  color: white !important;
  font-weight: 600;
}
